/*AUTHOR: MATEUSZ BYCZKOWSKI*/
/*2017 ALL RIGHT RESERVED*/
/*ENTRY CONFIGURATION*/
a,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{display:block}
.container,a,body,html,img
{height:100%}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{font:inherit;font-size:100%;margin:0;padding:0;border:0;vertical-align:baseline;color:inherit}
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    font-size: 3vh;;
    font-family:Lato,sans-serif;
    font-weight:300;
    color:#fff;
    line-height:1;
}

a, a:hover, a:visited{
    text-decoration: none;
}

/*INTRO PAGE*/
#page-top{
    background:rgba(0, 0, 0, 1);
    webkit-animation: q 3s ease-in;
    animation: q 3s ease-in;
}

/*NAVIGATION BAR*/
.navbar-default {
    background:rgba(51, 51, 51, 0.7);
    border-color: rgba(107, 107, 107, 0.6);
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #FFF;
    font-size:0.8em;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: transparent;
} 

.navbar-brand {
    font-size:0.8em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
color: #fff;
background-color: #848484;
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .navbar-default {
        background-color: rgba(0, 0, 0, 0.3);
        border-color: rgba(51, 51, 51, 0.3);
    }

    #navigation-pos{
        display:flex;
        justify-content: center;
    }

    .navbar-nav>li>a:hover, .navbar-brand:hover {
        transition: all 0.3s ease;
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari */
        transform: scale(1.1);
    }

    #nav-fade{
        display: none;
    }
}

/*INTRO BACKGROUND VIDEO*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.video-container video {
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*-----------------------------------------*/
/*INTRO CONTAINER*/
#intro-container{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top:44%;
    padding: 0;
    width: 100%;
    height: 12em;
    max-width: 100%;
    max-height: 100%;
}

.presentation-sticker{
    height: 100%;
    width: 100%;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}
    
/*STICKER TITLES*/
.presentation-name{
    font-size: 1.6em;
    position: relative;  
    display: none;
    display:block;    
}

.typing::after {
  content: '_';
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;  
}

.typing::before {
  display: block;
}

/*SCROLL BUTTON*/
#scroll-button:link {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90vh;
    left:48vw;
    font-size: 1.5em;
    display: none;
}

#scroll-button:hover, #scroll-button:visited, #scroll-button:active{
    transition: all 0.4s ease;
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari */
    transform: scale(1.3);
    color: #FFF;
    text-decoration: none;
    text-underline-position: none;
}

/*ABOUT SECTION*/
.about-section {
    height: 100%;
    padding-top: 12vh;
    text-align: center;
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, #000000 0%, #404040 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #000000 0%, #404040 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #000000 0%, #404040 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(100, #404040));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #000000 0%, #404040 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #000000 0%, #404040 100%);
}

.article-content{
    font-size: 1em;
    text-align: center;
    max-height: 85vh;
    overflow: hidden;
}

#about-image {
    width: 100%;
    width:65vw;
    border: 5px solid white;
    margin-top: 25px;
}

@media(min-width:767px) {
    .article-content{
        font-size: 1.2em;
        padding: 1em 0em 1em 0em;
    }

    #about-image {
        max-width: 100%;
        width: 30vw;
    }

    .text-animate {
    webkit-animation: q 2s ease-in;
    animation: q 2s ease-in;
    }
}

.article-content > p{
    letter-spacing: 1px;
    line-height: 1.3em;
}

.section-title {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid white;
    max-width: 8em;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}

.subsection-title{
    font-size: 1em;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}

/*SKILLS SECTION*/
.skills-section {
    height: 100%;
    padding-top: 10vh;
    text-align: center;
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, #404040 5%, #000D38 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #404040 5%, #000D38 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #404040 5%, #000D38 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5, #404040), color-stop(100, #000D38));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #404040 5%, #000D38 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #404040 5%, #000D38 100%);

}

.skills-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.technology-item{
    margin: 0.4em;
}

@media(min-width:1200px) {
    .skills-list{
        flex-wrap: nowrap;
    }

    .technology-item{
        margin: 1em;
    }

    .animate-twist {
        webkit-animation: twist 2.5s;
        animation: twist 2.5s;
    }

   @keyframes twist{ 
   0% {
    opacity: 0.5;
    -webkit-transform: perspective(200px) rotate3d(1,2,0,100deg);
    transform: perspective(200px) rotate3d(1,2,0,100deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: perspective(200px) rotate3d(0,0,0,0deg);
        transform: perspective(200px) rotate3d(0,0,0,0deg);
    }
   }
}

.technology-item:hover {
    transition: all 0.4s ease;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
}

.skills-list > .technology-item > p{
    font-size: 0.6em;
}

.technology-icon {
    max-height: 3em;
    max-width: 3em;
}

/*CONTACT-LINKS SECTION*/
.contact-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
   /* IE10+ */ 
    background-image: -ms-linear-gradient(top, #000D38 5%, #8D9460 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #000D38 5%, #8D9460 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #000D38 5%, #8D9460 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5, #000D38), color-stop(100, #8D9460));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #000D38 5%, #8D9460 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #000D38 5%, #8D9460 100%);
}

.contact-cv-button{
    position: relative;
    width: 9em;
    height: 2em;
    margin: 3em 0 4.5em 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    border: none;
    outline: 0;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    background-color: darkslategrey;
}

.contact-cv-button:active{
    transition: all 0.1s ease;
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari */
    transform: scale(0.9);
}

.custom-image{
    width: 9em;
}

.figure-fix-left{
    margin: 0 0 1em 0;
}

@media(min-width:767px) {
    .figure-fix-left{
        margin: 0 1.5em 1em 0;
    }
}

.figure-fix-right{
    margin: 0 0 1em 0;
}

@media(min-width:767px) {
    .figure-fix-right{
        margin: 0 0 1em 0;
    }
}

.figure-fix-left{
    webkit-animation: l 1.5s ease-in;
    animation: l 1.5s ease-in;
}

.figure-fix-right{
    webkit-animation: r 1.5s ease-in;
    animation: r 1.5s ease-in;
}


.contact-link:hover, .project-images:hover{
    transition: all 0.4s ease;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
}

/*KEYFRAMES*/
/*OPACITY KEYFRAMES*/
@-webkit-keyframes q {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes q {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes q {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes q {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*slide from down*/
@-webkit-keyframes w {
  0%   { 
    opacity: 0;
    margin-top: 100%;
    height: 300%;  
    }
  100% { 
    opacity: 1;
    margin-top: 0%;
    height: 100%; 
    }
}

@-moz-keyframes w {
  0%   { 
    opacity: 0;
    margin-top: 100%;
    height: 300%;  
    }
  100% { 
    opacity: 1;
    margin-top: 0%;
    height: 100%; 
    }
}

@-o-keyframes w {
  0%   { 
    opacity: 0;
    margin-top: 100%;
    height: 300%;  
    }
  100% { 
    opacity: 1;
    margin-top: 0%;
    height: 100%; 
    }
}

@keyframes w {
  0%   { 
    opacity: 0;
    margin-top: 100%;
    height: 300%;  
    }
  100% { 
    opacity: 1;
    margin-top: 0%;
    height: 100%; 
    }
}

/*blink */
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*slide from right*/
@-webkit-keyframes r {
   0%   { 
    margin-right: 100%;
    width: 300%;  
    }
  100% { 
    margin-right: 0%;
    width: 100%; 
    }
}

@-moz-keyframes r {
   0%   { 
    margin-right: 100%;
    width: 300%;  
    }
  100% { 
    margin-right: 0%;
    width: 100%; 
    }
}

@-o-keyframes r {
  0%   { 
    margin-right: 100%;
    width: 300%;  
    }
  100% { 
    margin-right: 0%;
    width: 100%; 
    }
}

@keyframes r {
  0%   { 
    margin-right: 100%;
    width: 300%;  
    }
  100% { 
    margin-right: 0%;
    width: 100%; 
    }
}

/*slide from left*/
@-webkit-keyframes l {
  0%   { 
    transform: translateX(-100%);
    }
  100% { 
    transform: translateX(0%);
    }
}

@-moz-keyframes l {
  0%   { 
    transform: translateX(-100%);
    }
  100% { 
    transform: translateX(0%);
    }
}
@-o-keyframes l {
  0%   { 
    transform: translateX(-100%);
    }
  100% { 
    transform: translateX(0%);
    }
}

@keyframes l {
  0%   { 
    transform: translateX(-100%);
    }
  100% { 
    transform: translateX(0%);
    }
}